@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: 0;
}

body {
    height: 100vh;
}

header {
    height: 90px;
    padding: 20px;
}

h1 {
    color: #dddbd7;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 64%;
    height: 840px;
    margin: auto;
}

.botao {
    width: 36%;
    height: 49%;
}

#botao1 {
    background-color: #00b200;
    margin-right: 7px;
    border-top-left-radius: 100%;
}

#botao2 {
    background-color: #b2b000;
    border-top-right-radius: 100%;
}

#botao3 {
    background-color: #b20000;
    margin-right: 7px;
    border-bottom-left-radius: 100%;
}

#botao4 {
    background-color: #0000b2;
    border-bottom-right-radius: 100%;
}

.conteudoCentral {
    border-radius: 70%;
    width: 444px;
    height: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    top: 27%;
    left: 39%;
    background-color: #7efed3;
}